@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html, body {
    height: 100%;
    font-family: 'Fredoka One', cursive;
}
.navbar-brand:hover {
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}
#randomImage {
    width: 380px;
    height: 380px;
    padding: 2.5px;
}
@keyframes spin { 
    100% { 
      transform: rotateZ(360deg);
    }
  }
#preloaderBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}
ul {
    display: flex;
    flex-wrap: wrap;
    margin: 2vmin;
    list-style:none;
    padding:0;
    margin:0;
} 
li {
    height: 25vh;
    flex-grow: 1;
    margin: .5vmin;
} 
li:last-child {
    flex-grow: 10;
}
img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    border-radius: 1vmin;
}  
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
} 
.border {
    border-width:3px !important;
}
.preloader {
    max-width: 9% !important;
    max-height: 9% !important;
    min-width: 9% !important;
}
.more-images {
    max-width: 4%;
    min-width: 4%;
    max-height: 4%;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media (max-aspect-ratio: 1 / 1) {
    li {
      height: 30vh;
    }
}
@media (max-height: 480px) {
    li {
      height: 80vh;
    }
}
@media (max-aspect-ratio: 1 / 1) and (max-width: 480px) {
    ul {
      flex-direction: row;
    }
  
    li {
      height: auto;
      width: 100%;
    }
  
    img {
      width: 100%;
      max-height: 75vh;
      min-width: 0;
    }
}
